<footer class="footer">
  <div class="columns">
    <div class="column">
      <figure class="image footer-logo">
        <img src="preteckt_logo.png" alt="Preteckt Logo">
      </figure>
      <ul>
        <li class="button">
          <a href="https://www.linkedin.com/company/preteckt" target="_blank" rel="noopener" aria-label="Visit us on LinkedIn">
            {{ partial "svg/linkedin.svg" (dict "class" "widget-social__link-icon") }}
              <p>LinkedIn</p>
            </a>
        </li>
      </ul>
    </div>
    <div class="column">
      <h1>Locations</h1>
      <hr class="is-primary">
      <div class="card is-pulled-left">
        <h2 class="card-header">Memphis</h2>
        <br>
        <address class="card-content">
          460 S Highland St.<br>
          Memphis, TN 38111<br>
          United States
        </address>
      </div>
      <div class="card is-pulled-right">
        <h2 class="card-header">Hamilton</h2>
        <br>
        <address class="card-content">
          115 King Street East, 3rd Floor<br>
          Hamilton, ON L8N 1A9<br>
          Canada
        </address>
      </div>
    </div>
  </div>
</footer>